{% comment %} <h1> Hello world</h1>
<img src="{{ 'img.webp' | asset_url }}"/> {% endcomment %}

<h2>{{ collections['frontpage'].title }}</h2>
<div class="container">
  {% for product in collections['frontpage'].products %}
    <a href="{{ product.url }}" class="product">
      <img class="p_img" src="{{ product.featured_image | image_url: width: 200 }}">
      <h3 class="p_title">{{ product.title }}</h3>
      <div class="p_price">{{ product.price | money_with_currency }}</div>
    </a>
    <a href=""></a>
  {% endfor %}
</div>